# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea*
lecture_notes/08 collections/2-function.cpp
.vscode/launch.json
.vscode/tasks.json
.vscode/launch.json
